
@media(min-width: 200px) and (max-width: 534px){
	[class*="col-"]{
		width: 100%;
	
	}
	.bootstrap{
		font-size: 14px;
		vertical-align:middle;
		position: relative;
		
	}
    .oculto{
    	display: inline-block;
    	float: right;
    	color: white;
    	top: 4%;
    	padding-right:8%;
    }
    .visible{
    	display: none;
    }
	
  	.business{
  		font-size: 15px;
  		padding-top: 6%;

  	}
 	.business2{
 		font-size: 18px;
 		padding-bottom: 10%;
 		
 	}
}
